// Atom Colors
// From https://github.com/jonathanchu/atom-one-dark-theme
$atom-one-dark-accent: #528BFF;
$atom-one-dark-fg: #ABB2BF;
$atom-one-dark-bg: #282C34;
$atom-one-dark-bg-1: #121417;
$atom-one-dark-bg-hl: #2C323C;
$atom-one-dark-gutter: #4B5363;
$atom-one-dark-mono-1: #ABB2BF;
$atom-one-dark-mono-2: #828997;
$atom-one-dark-mono-3: #5C6370;
$atom-one-dark-cyan: #56B6C2;
$atom-one-dark-blue: #61AFEF;
$atom-one-dark-purple: #C678DD;
$atom-one-dark-green: #98C379;
$atom-one-dark-red-1: #E06C75;
$atom-one-dark-red-2: #BE5046;
$atom-one-dark-orange-1: #D19A66;
$atom-one-dark-orange-2: #E5C07B;
$atom-one-dark-gray: #3E4451;
$atom-one-dark-silver: #9DA5B4;
$atom-one-dark-black: #21252B;
$atom-one-dark-border: #181A1F;

// Defining Palette
	$white: #ffffff;

	$lightBlue: #3399ff;
	// $red: #ff1755;

	// Background colors
	$darkGray: #282C34;
	$mediumGray: #4B5363;
	$black: #121417;

	// Text Highlighting
	$gray: #ABB2BF;
	$lightGray: #e6e6e6; // body text
	$blue: #61AFEF;
	$cyan: #56B6C2;
	$purple: #C678DD;
	$green: #98C379;
	$magenta: #E06C75;
	$red: #BE5046;
	$orange: #D19A66;
	$yellow: #E5C07B;

// Defining theme

	// Global stuff
	$global-text-color: $lightGray;//html, body
	$global-text-color-secondary: $gray; // Anchor tags, header, footer
	$global-background: $mediumGray;//html, body

	$anchor-tag-hover: $blue;
	$main-div-background: $darkGray;
	$header-footer-background: $black;
