$global-text-color: $lightGray;//html, body
$global-text-color-secondary: $atom-one-dark-fg; // Anchor tags, header, footer
$global-background: $atom-one-dark-gutter;//html, body

$anchor-tag-hover: $atom-one-dark-blue;
$main-div-background: $atom-one-dark-bg;
$header-footer-background: $black;
