<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131726613-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-131726613-1');
	</script>

	<title>{{ site.title }}</title>
	{% include setup/bootstrap.css.html %}
	<link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon">
	<link type="text/css" rel="stylesheet" href="{{ '/main.css' | prepend: site.assets_dir }}">
	<link href="{{ '/favicon.ico' | prepend: site.assets_dir }}" rel="shortcut icon">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
