{% capture commit %}

  {% unless include.commit %}
    {{ "You need to specify a commit parameter for include ref-commit" | raise_error }}
  {% endunless %}
  {{ include.commit }}

{% endcapture %}{% capture url %}

  https://github.com/{{ include.project | default: site.github_path }}/commit/{{ commit | strip | strip_newlines }}

{% endcapture %}{% capture text %}

  {% if include.text %}
    {{ include.text }}
  {% else %}
    <code class="no-style">ref commit</code>
  {% endif %}

{% endcapture %}<a target="_blank" href="{{ url | strip }}">{{ text | strip }}</a>
