$global-text-color: $black;//html, body
$global-text-color-secondary: $atom-one-dark-mono-2; // Anchor tags
$global-text-color-tertiary: $atom-one-dark-mono-2; // header, footer
$global-background: $light-gray;//html, body

$anchor-tag-hover: $atom-one-dark-blue;
$main-div-background: white;
$header-footer-background: $black;
$shadow-color: $atom-one-dark-bg;

// CODE COLORS
$pre-background-color: $atom-one-dark-bg;
$pre-edge-color: $atom-one-dark-gutter;
$pre-scroll-thumb-color-top: $atom-one-dark-mono-2;
$pre-scroll-thumb-color-bottom: $atom-one-dark-bg;
$code-background-color: $atom-one-dark-bg;
$code-text-color: $atom-one-dark-green;

// CODE HIGHLIGHTING COLORS
$code-normal-text: $atom-one-dark-mono-1;
$code-comment: $atom-one-dark-mono-2;
$code-na: $atom-one-dark-orange-1; // normal attribute?
$code-string: $atom-one-dark-green;

$code-nf: $atom-one-dark-blue;
$code-n: $atom-one-dark-mono-1;
$code-p: $atom-one-dark-mono-1;
$code-o: $atom-one-dark-mono-1;
$code-k: $atom-one-dark-purple;
$code-nc: $atom-one-dark-orange-2;
$code-bp: $atom-one-dark-orange-1;
$code-ow: $atom-one-dark-purple;
$code-mi: $atom-one-dark-orange-1;

// TYPOGRAPHY
$font-family: $websafe-fonts;
$code-font-family: "Source Code Pro", "Consolas", "Monaco";
$xs-text-size: 14px;
$sm-text-size: 16px;
$md-text-size: 20px;

$h1-size: 20px;
$h2-size: 20px;
$h3-size: 20px;
$h4-size: 20px;
$h5-size: 20px;
$h6-size: 20px;
