html, body {
  height: 100%;
  background: $global-background;
}
body {
  font-family: $font-family;
  color: $global-text-color;
  font-size: $xs-text-size;

  @include media-breakpoint-up(sm) {
    font-size: $sm-text-size;
  }

  @include media-breakpoint-up(md) {
    font-size: $md-text-size;
  }
}


table {
  font-size: $xs-text-size;

  @include media-breakpoint-up(md) {
    font-size: $sm-text-size;
  }

  margin-bottom: 10px;
}
p {
  @include transition(0s);
}


h1 {

}


div.highlight > pre,
:not(pre) > code:not(.no-style) {
  color: $code-text-color;
}
div.highlight > pre {
  background: $pre-background-color;
  padding: 15px;
  border-radius: 10px;
  overflow: overlay hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &.pre-scrollable {
    overflow: overlay;
  }

  $offset: 15px;
  $blur-radius: 15px;
  $spread-radius: -10px;
  $type: inset;
  $shadow-color: $pre-edge-color;
  @include shadow(
    $type
    $offset*-1 $offset
    $blur-radius $spread-radius $shadow-color,

    $type
    $offset $offset*-1
    $blur-radius $spread-radius $shadow-color
  );

  &::-webkit-scrollbar {
    background: none;
  }

  &:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;

    $top: $pre-edge-color;
    $bottom: $pre-background-color;
    background-image: linear-gradient(
                        $pre-scroll-thumb-color-top,
                        $pre-scroll-thumb-color-bottom);
  }
}
:not(pre) > code:not(.no-style) {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  white-space: nowrap;
  background: $code-background-color;
}
code.no-style {
  color: $global-text-color;
}


a {
  color: $global-text-color-secondary;

  &, * {
    @include transition(.4s);
  }

  &:hover, &:hover * {
    color: $anchor-tag-hover !important;
    text-decoration: none;
    @include transition(.4s);
  }
}
