html, body, pre {
    height: 100%;
	background: $global-background;
}

body {
    font-family: $font-family;
    color: $global-text-color;
    font-size: $font-size;
}

pre {
    padding: 10px;
    border: 10px $global-background;
    border-radius: 10px;
}

pre, code { color: $code-tag-color; }

a {
	@include transition(.4s);
	color: $global-text-color-secondary;

	&:hover {
		color: $anchor-tag-hover;
		text-decoration: none;
        @include transition(.4s);
	}
}
