html, body {
    height: 100%;
	background: $global-background;
}
body {
    font-family: $font-family;
    color: $global-text-color;
    font-size: $xs-text-size;

    @include media-breakpoint-up(sm) {
        font-size: $sm-text-size;
	}

	@include media-breakpoint-up(md) {
        font-size: $md-text-size;
	}
}



table {
    font-size: $xs-text-size;

    @include media-breakpoint-up(md) {
        font-size: $sm-text-size;
	}

    margin-bottom: 10px;
}
p {
    @include transition(0s);
}


h1 {

}


pre {
    padding: 10px;
    border-radius: 10px;
}
pre, :not(pre) > code {
    color: $code-tag-color;
    background: $code-background-color;
}
:not(pre) > code {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}



a {
    color: $global-text-color-secondary;
}
a, a > * {
    @include transition(.4s);
}
a {
	&:hover, &:hover > * {
		color: $anchor-tag-hover;
		text-decoration: none;
        @include transition(.4s);
	}
}
