.main {
	padding: 50px;
	background: $main-div-background;
}

#main-col {
	$offset: 15px;
	$blur-radius: 15px;
	$spread-radius: -15px;
	$type:inset;
	@include shadow(
		$type $offset*-1 0 $blur-radius $spread-radius $shadow-color,
		$type $offset 0 $blur-radius $spread-radius $shadow-color);
}

.short-page { height: 100%; }

@mixin bookend {
	@include dynamic-extend('bookend') {
		height: 90px;
		position: relative;
		display: block;
		overflow: auto;
		background: $header-footer-background;
		color: $global-text-color-secondary;
	}
}

@mixin bookend-element {
	@include dynamic-extend('bookend-element') {
		position: absolute;
		top: 50%;
		@include transform( translateY(-50%) );
	}
}

.footer {
	@include bookend;
	float: bottom;
	padding-left: 20px;
	padding-top: 5px;
}

.header {
	@include bookend;
	.logo {
		font-size: 30px;
		left: 15px;
		@include bookend-element;

	}
	nav, nav * { margin-bottom: 0px; }
	nav {
		@include bookend-element;
		float: right;
		right: 15px;

		ul li {
			list-style-type: none;
			display: inline-block;
			margin-right: 20px;
			a { font-size: 19px; }
		}
	}
}
