$global-text-color: $light-gray;//html, body
$global-text-color-secondary: $atom-one-dark-fg; // Anchor tags, header, footer
$global-background: $atom-one-dark-gutter;//html, body

$anchor-tag-hover: $atom-one-dark-blue;
$main-div-background: $atom-one-dark-bg;
$header-footer-background: $black;
$shadow-color: $light-gray;

// CODE COLORS
$code-background-color: $global-background;
$pre-edge-color: $code-background-color;
$code-tag-color: $atom-one-dark-green;

// CODE HIGHLIGHTING COLORS
$comment: $atom-one-dark-mono-2;
$normal-text: $global-text-color-secondary;
$na: $atom-one-dark-orange-1; // normal attribute?
$string: $atom-one-dark-green;

$nf: $atom-one-dark-blue;
$n: $global-text-color-secondary;
$p: $global-text-color-secondary;
$o: $global-text-color-secondary;
$k: $atom-one-dark-purple;
$nc: $atom-one-dark-orange-2;
$bp: $atom-one-dark-orange-1;
$ow: $atom-one-dark-purple;
$mi: $atom-one-dark-orange-1;

// TYPOGRAPHY
$font-family: $atom-default-fonts;
$xs-text-size: 14px;
$sm-text-size: 16px;
$md-text-size: 20px;

$h1-size: 20px;
$h2-size: 20px;
$h3-size: 20px;
$h4-size: 20px;
$h5-size: 20px;
$h6-size: 20px;
