<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="head-boi">
			<div class="head-container">
				<div class="logo">
					<!-- {{ page.title | capitalize }} -->
					{% if page.logo %}
					{{ page.logo }}
					{% else %}
					Albert Liu
					<!-- Albert's {{ page.title | capitalize }} -->
					{% endif %}
				</div>
				<nav>
					{% include nav_menu.md %}
				</nav>
			</div>
		</div>
		{% if page.short %}
		{% assign extra = " short-page" %}
		{% endif %}
		<div class="main-boi {{ page.title | replace: " ","-" | downcase }}-page{{ extra }}">
			{{ content }}
		</div>
		<div class="footer">
			Site by Albert Liu
		</div>
	{% include bootstrap/bootstrap.js.html %}
	</body>
</html>
