<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="container-fluid" style="height:100%;">
			<div class="row" id="header-row">
				<div class="col-lg-6" id="logo">
					<a href="/">Albert Liu</a>
				</div>
				<div class="col-lg-6" id="main-nav">
					<nav class="nav">{% include nav-menu.md %}</nav>
				</div>
			</div>

			{% if page.collection %}
				{% assign collection-name = page.collection | prepend: "in-" %}
			{% endif %}

			{% assign page-title = page.title | strip | replace: " ","-" | downcase | append: "-page" %}

			<div class="row {% if page.short %}short-page{% endif %}" id="main-row">
					<div class="col-md-2" id="left-col">
						{% if page.left %}{% include {{ page.left }} %}{% endif %}
					</div>

					<div class="col-12 col-md-8 main {{ page-title }} {{ collection-name }}" id="main-col">
						{{ content }}
					</div>

					<div class="col-md-2" id="right-col">
						{% if page.right %}{% include {{ page.right }} %}{% endif %}
					</div>
			</div>
			<div class="row" id="footer-row">
				<div class="col-2"></div>
				<div class="col-10">Site by Albert Liu</div>
			</div>
		</div>
	{% include scripts.html %}
	</body>
</html>
