$global-text-color: $light-gray;//html, body
$global-text-color-secondary: $atom-one-dark-fg; // Anchor tags, header, footer
$global-background: $atom-one-dark-gutter;//html, body

$anchor-tag-hover: $atom-one-dark-blue;
$main-div-background: $atom-one-dark-bg;
$header-footer-background: $black;
$shadow-color: $light-gray;

$code-background-color: $global-background;
$code-tag-color: $atom-one-dark-green;


$font-family: $atom-default-fonts;
$font-size: 20px;
