<!doctype html>
<html lang="en">
{% if page.head-include %}
{% include {{ page.head-include }} %}
{% endif %}

<body>
    <div class="container-fluid" id="site-wrapper">

        <div class="row" id="header-row">
            {% if page.header-include %}
            {% include {{ page.header-include }} %}
            {% endif %}
        </div>

        <div class="row" id="main-row">
            {{ content }}
        </div>

        <div class="row" id="footer-row">
            <div class="col-2"></div>
            <div class="col-8">
                Site by Albert Liu. Source code can be found on
                <a href="https://github.com/A1Liu/a1liu.github.io">
                    <strong>Github</strong>
                </a>.
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    {% if page.scripts-include %}
    {% include {{ page.scripts-include }} %}
    {% endif %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</body>

</html>
