---
title: home
layout: default
permalink: /
---
<div class="bio">
	<img class="profile" src="{{'/img/fb_profile_pic.jpg' | prepend: site.assets_dir }}" />
	<h2>
		About Me
	</h2>
	<p>
		Hi, I'm Albert, and this is my website! I'm a Junior at NYU majoring in Math and Computer Science. This website is mainly for my own personal use, but feel free to use the stuff on here or copy the source code into your own project! (Please read and follow the license though.)
	</p>
</div>

{% for doc in site.main %}
  {% if doc.title != "Documents" %}
    <div id="{{ doc.title }}-excerpt">
      <h2 id="{{ doc.title }}">{{ doc.title | capitalize }}</h2>
      <p>
        {{ doc.description }}
      </p>
      {{ doc.content }}
    </div>
  {% endif %}
{% endfor %}
