#site-wrapper {
  min-height: 100vh;
  position: relative;
}

.main {
  min-height: 100vh;
	padding: 50px;
	background: $main-div-background;
}

@include media-breakpoint-up(lg) {
	#main-col {
		$offset: 15px;
		$blur-radius: 15px;
		$spread-radius: -15px;
		$type:inset;
		@include shadow(
			$type $offset*-1 0 $blur-radius $spread-radius $shadow-color,
			$type $offset 0 $blur-radius $spread-radius $shadow-color);
	}
}

.short-page { height: 100%; }
