html {
	@include zero-spaced;
	height: 100%;
	background: $global-background;
}

body {
	font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;// Atom editor default fonts
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	color: $lightGray;
	@include square(100%);
	@include zero-spaced;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0px;
	margin-bottom: 3px;
}

ul {
	margin: 0px;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	font-size: 20px;
	@include transform(.4s ease-in-out);
	cursor: pointer;
	color: $anchor-tag-text-color;
	font-style: normal;

	&:hover {
		color: $anchor-tag-hover !important;
		text-decoration: none;
		@include transform(.4s ease-in-out);
	}
}
